* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ddbea9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px #9c6644;
    background: white;
  }
  
  .fill {
    background-image: url('https://images.unsplash.com/photo-1517331028157-75de91e10628?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .hovered {
    background-color: #cb997e;
    border-color: #ede0d4;
    border-style: dashed;
  }
  
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }